html{
    color: white;
    background-color:black;
}   

#header{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}


.buttons {
    display: flex;
    justify-content: space-evenly;
}


button {
    padding: 150px;
    background-size: cover;
}

button:hover {
   transform: scale(1.1);
   transition:all;
   transition-duration: 1s;
   box-shadow: 0px 3px 5px 10px white;
}


#rock-selection {
    background-image: url(https://www.hiveworkshop.com/attachments/snapshot-patricks-rock-png.31744/);
    border-radius: 10px;
   
}

#paper-selection {
    background-image: url(https://i.pinimg.com/280x280_RS/f3/7e/d3/f37ed3edce44dbaf25f1e4f02ab8a511.jpg);
    border-radius: 10px;
    
}

#scissors-selection {
    background-image: url(https://i.pinimg.com/originals/a3/25/84/a325840a691ac27ac9677cd17293acd1.jpg);
    border-radius: 10px;
   
}

#scores {
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
    padding-top: 50px;
}

#comments {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    font-size: 50px;
}